<header>
    <h1>
        Changes
    </h1>
</header>

<table class="pagelist changes">
    <thead><tr>
        <th class="updated">Updated</th>
        <th class="page">Pages</th>
    </tr></thead>
    <tbody>
    <% if @wikipages.size == 0 %>
        <tr><td colspan="2">(no pages yet)</td></tr>
    <% else %>
        <% @wikipages.each do |wikipage| %>
        <tr class="page <%= page_type(wikipage) %>">
            <td class="updated"><time datetime="<%= wikipage.updated_at %>"><%= wikipage.updated_at %></time></td>
            <td class="page">
                <a class="caret-target" href="<%= absolute_path(wikipage.title) %>"><%= wikipage.title %></a>
                <br>
                <% if wikipage.comment.nil? || wikipage.comment.blank? %>
                    <span class="comment">(No comment)</span><br>
                <% else %>
                    <span class="comment"><%= wikipage.comment %></span><br>
                <% end %>
                <span class="modifier-info">by <span class="modifier"><a href="<%= page_modifier(wikipage) %>"><%= page_modifier(wikipage) %></span></span>
            </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
</table>