<header>
<h1>
    <% titles = params[:wikipage].split(/\//); titles[0..-2].each_with_index do | item, index | %>
        <span class="parent">
            <a href="<%= '/' + titles[0..index].join('/') %>"><%= titles[index] %></a><span class="small"> >> </span>
        </span>
    <% end %>
    <span><%= titles[-1] %></span>
</h1>
</header>
<%= form_tag(absolute_path(params[:wikipage]), method: 'post', class: 'editform form-horizontal') do %>
    <textarea class="form-control" name="body" placeholder="Body" autofocus="autofocus"><%= @wikipage.body unless @wikipage.nil? %></textarea>
    <input type="text" name="comment" placeholder="Comment" class="form-control comment" value="">
    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary btn-save">
        <input type="button" value="Preview" class="btn btn-preview">
        <input type="button" value="Delete" class="btn btn-danger btn-delete">
    </div>
<% end %>
<article id="wikibody_preview"><section class="body"></section></article>