<header>
    <h1>Revision History of <%= @wikipage.title %></h1>
</header>
<table class="pagelist revisions">
    <thead><tr>
        <th class="modified">Modified</th>
        <th class="comment">Comment</th>
        <th class="revision-count">Revision count</th>
    </tr></thead>
    <tbody>
    <% if @revisions.nil? %>
    <tr><td colspan="2">(no revisions)</td></tr>
    <% end %>
    <% @revisions.each do |revision| %>
    <tr class="page <%= page_type(revision) %>">
        <td class="modified"><time datetime="<%= revision.created_at %>"><%= revision.created_at %></time></td>
        <td>
            <span class="modifier"><a href="<%= page_modifier(@wikipage) %>"><%= page_modifier(@wikipage) %></span>
            <br>
            <a class="caret-target comment" href="/<%= revision.title %>?rev=<%= revision.revision %>" rel="nofollow">
            <% if revision.comment.nil? || revision.comment.blank? %>
                <span class="comment">(No comment)</span>
            <% else %>
                <span class="comment"><%= revision.comment %></span>
            <% end %>
            </a>
        </td>
        <td>(<a href="<%= absolute_path(@wikipage.title) %>?rev=<%= revision.revision %>">rev. <%= revision.revision %></a>)</td>
    </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @revisions %>