<%= stylesheet_link_tag 'highlightjs/solarized_dark', :media => 'all' %>
<%= javascript_include_tag 'show' %>
<%= javascript_include_tag 'highlightjs/highlight.pack' %>
<script>hljs.initHighlightingOnLoad();</script>
<article>
    <header>
        <h1>
            <% titles = params[:wikipage].split(/\//); titles[0..-2].each_with_index do | item, index | %>
                <span class="parent">
                    <a href="<%= '/' + titles[0..index].join('/') %>"><%= titles[index] %></a>
                </span>
            <% end %>
            <span><%= titles[-1] %></span>
            <a id="top" href="#top" class="caret-target vcaret">#</a>
            <br>
            <a href="/sp.search?q=<%= @wikipage.title %>" class="search-by-title">Find similar titles</a>
        </h1>
        <ul class="info">
            <li class="updated_at">
                <a href="<%= '/' + @wikipage.title + '?rev=list' %>">
                    <time><%= @wikipage.updated_at %></time>
                </a>
                <% if @revision.nil? %>
                    (rev. <span class="revision"><%= @wikipage.revision %></span>)
                <% else %>
                    (rev. <span class="revision"><%= @revision.revision %></span>)
                <% end %>

            </li>
            <% if admin?(current_user) || @wikipage.can_write?(current_user) %>
                <% if @revision.nil? %>
                    <li class="edit_menu">
                        <a href="<%= absolute_path(params[:wikipage]) %>?view=edit" id="edit" class='btn btn-primary'>Edit</a>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </header>
    <% unless @wikipage.tocs.nil? or @wikipage.tocs.blank? %>
    <section class="toc-section">
        <%= generate_toc_html(@wikipage) %>
    </section>
    <% end %>
    <section class="body">
        <!-- if redirected from -->
        <% unless @revision.nil? %>
            <div class="infobox message">
                <p>You are seeing an old version of the page. Go to <a href="<%= absolute_path(@revision) %>">latest version</a></p>
            </div>
        <% end %>

        <% if @wikipage.body.blank? %>
            <p>This page is empty.</p>
        <% elsif !@revision.nil? %>
            <div class="content"><%= markdown_to_html(@revision.body) %></div>
        <% else %>
            <div class="content"><%= markdown_to_html(@wikipage.body) %></div>


        <% end %>
    </section>
    <% unless @wikipage.related_pages.blank? %>
    <section class="related_page">
        <h2>Related page</h2>
        <ul>
            <% @wikipage.related_pages.each do |related_page| %>
                <li class="wikipage"><a href="<%= absolute_path(related_page.title) %>"><%= related_page.title  %></a></li>
            <% end %>
        </ul>
    </section>
    <% end %>
</article>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
