<article>
    <header>
    <h1>
        <% titles = params[:wikipage].split(/\//); titles[0..-2].each_with_index do | item, index | %>
            <span class="parent">
                <a href="<%= '/' + titles[0..index].join('/') %>"><%= titles[index] %></a>
            </span>
        <% end %>
        <span><%= titles[-1] %></span>
        <a id="top" href="#top" class="caret-target vcaret">#</a>
        <br>
        <a href="/sp.search?q=<%= @wikipage.title %>" class="search-by-title">Find similar titles</a>
    </h1>
    <ul class="info">
        <li class="updated_at">
        <a href="<%= '/' + @wikipage.title + '?rev=list' %>">
            <time><%= @wikipage.updated_at %></time>
        </a>
        (rev. <span class="revision"><%= @wikipage.nil? ? 0 : @wikipage.revision %></span>)
        </li>
        <% if admin? current_user || @wikipage.can_write?(current_user) %>
            <li class="edit_menu">
                <a href="<%= params[:wikipage] %>?view=edit" id="edit" class='btn btn-primary'>Edit</a>
            </li>
        <% end %>
    </ul>
    </header>
</article>
<section class="body">
    <!-- if redirected from -->
    <% unless @revision.nil? %>
    <div class="infobox message">
        <p>You are seeing an old version of the page. Go to <a href="<%= absolute_path(@revision) %>">latest version</a></p>
    </div>
    <% end %>
    <% if @wikipage.body.blank? %>
    <p>This page is empty.</p>
    <% else %>
      <div class="content"><%= markdown_to_html(@wikipage.body) %></div>
    <% end %>

</section>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
