<article>
    <header>
        <h1>User Preferences</h1>
        <div class="info"></div>
    </header>

    <section class="body">
    <h1>Basics</h1>
    <ul>
        <% if @preference.nil? %>
        <li>No preferences yet.</li>
        <% else %>
        <li>Your user page: <a href="/<%= @preference.title %>" class="wikipage"><%= @preference.title %></a></li>
        <li class="created_at">Created at: <time datetime="<%= @preference.created_at %>"><%= @preference.created_at %></time></li>
        <% end %>
    </ul>

    <hr>

    <h1>Edit Preferences</h1>
    <%= form_tag('/sp.preferences', method: 'post', class: 'preferencesform') do %>
        <label for="userpage_title">User page title:</label><br>
        <input id="userpage_title" name="userpage_title" placeholder="Page title" class="userpage_title" value="<%= @preference.nil? ? current_user.email : @preference.title %>" autofocus="autofocus">

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <input type="reset" value="Reset" class="btn">
        </div>
    <% end %>
  </section>
</article>