<!DOCTYPE html>
<html lang="ko">
<head>
  <title>EcogwikiRuby</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="display: none;"><a href="#skip">Skip to content</a></div>
<!--[if lt IE 9]>
<h1>You Must Upgrade Your Browser</h1>
<p>
    Using an outdated browser makes your computer unsafe. Find out what
    are the latest versions of the major browsers around from
    <a href="http://browsehappy.com/">Browse Happy</a>.

    You can also learn about alternative browsers that may fit you even
    better than the one you are currently using.
</p>
</div>
<![endif]-->
<div class="top-bar"><ul>
    <li class="search">
    <%= form_tag('/sp.search', method: 'get') do %>
        <label style="display: none" for="searchbox">Search</label>
        <input type="hidden" name="redir" value="1">
        <input type="text" id="searchbox" name="q" placeholder="Search">
        <input type="submit">
    <% end %>
    </li>
    <li>
    <% if current_user.nil? %>
        <span class="user-email"></span>
        <a href="<%= new_user_session_url %>">Login</a>
    <% else %>
        <span class="user-email"><%= current_user.email %></span>
        <a href="/sp.preferences" class="preferences">Preferences</a>
        <a href="<%= destroy_user_session_url %>" data-method='delete'>Logout</a>
    <% end %>
    </li>
</ul></div>
<div class="contents">
    <nav>
        <ul>
            <li><a href="/Home" class="shortcut">Home</a></li>
            <li><a href="/sp.changes" class="shortcut">Changes</a></li>
        </ul>
    </nav>
    <div><a name="skip"></a></div>
    <%= yield %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
